<!DOCTYPE html>
<html>
  <head>
    <title>Rails + Svelte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/favicon.png" rel="icon" type="image/png">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      .top-nav {
        justify-content: flex-end;
      }
      a {
        margin-left: 10px;
      }
    </style>
  </head>

  <body class="h-screen">
    <div class="flex top-nav">
      <% if current_user %>
        <%= link_to("Logout", destroy_user_session_path, :method => :delete, class: "px-2 py-2 text-indigo-500") %>
      <% else %>
        <%= link_to("Login", new_user_session_path, class: "px-2 py-2 text-indigo-500") %>
      <% end %>
    </div>

    <% if alert %>
      <div class="bg-orange-100 border-t-4 border-orange-500 rounded-b text-orange-900 px-4 py-3 shadow-md" role="alert">
        <div class="flex">
          <div class="py-1"><svg class="fill-current h-6 w-6 text-orange-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
          <div>
            <p class="text-sm"><%= alert %></p>
          </div>
        </div>
      </div>
    <% end %>
    <% if notice %>
      <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
        <div class="flex">
          <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
          <div>
            <p class="text-sm"><%= notice %></p>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_pack_tag 'app_svelte' %>
  </body>
</html>
